[submodule "builder"]
	path = builder
	url = https://github.com/KinChow/builder.git
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "external/opencl-wrapper"]
	path = external/opencl-wrapper
	url = https://github.com/KinChow/opencl-wrapper.git
